body {
    background-color: white;
}

ul {
  	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111109
}

li {
    display: inline;
    float: left;
   
}

a {
    display: block;
    padding: 8px;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#notCurrent:hover {
    background-color: black;
}

#current {
    background-color: #ff9900
}

ul li {
  transition: .3s ease;
  display:inline-block;
}

.twitter-timeline{
    display:inline-block;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#homeStuff
{
    display:inline-block;
    vertical-align:top;
}

 li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  li:hover ul {
      transition: .3s ease;
    display: block;
  }

  li ul li {
      float:none;
    display: block;
  }

