body {
    background-color: white;
}

ul {
  	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111109
}

li {
    display: inline;
    float: left;
}

a {
    display: block;
    padding: 8px;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: black;
}

.active {
    background-color: #ff9900
}
